# Detect C languages properly
*.h linguist-language=C
*.c linguist-language=C

# Stickynotes
*.stickynote linguist-language=Markdown
*.note linguist-language=Markdown
*.notemd linguist-language=Markdown

# C-- is a C variant
*.cmm linguist-language=C
